@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400;700&display=swap');

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: none;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  font-family: 'Pacifico', cursive;
}

.count {
  font-size: 2rem;
  font-weight: 700;
}

.cost {
  font-weight: 300;
}